[Desktop Entry]
Name=/e/ Cloud First-Run
GenericName=First-run program
Comment=First-run program that asks the user to log in to /e/ Cloud
Exec=sh -c "test ! -f ~/.ecloud-firstrun && touch ~/.ecloud-firstrun && firefox https://ecloud.global"
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
